<p id="notice"><%= notice %></p>

<p>
  <strong>Idservicio:</strong>
  <%= @service.idservicio %>
</p>

<p>
  <strong>Etiquetaservicio:</strong>
  <%= @service.etiquetaservicio %>
</p>

<p>
  <strong>Estadoventa:</strong>
  <%= @service.estadoventa %>
</p>

<p>
  <strong>Estadocompra:</strong>
  <%= @service.estadocompra %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @service.descripcion %>
</p>

<p>
  <strong>Duracion:</strong>
  <%= @service.duracion %>
</p>

<p>
  <strong>Precioventa:</strong>
  <%= @service.precioventa %>
</p>

<p>
  <strong>Precioventamin:</strong>
  <%= @service.precioventamin %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @service.categoria %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
